* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
nav {
    border: 1px solid black;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 10px;
}

ul {
    list-style-type: none;
    display: flex;

}
.center li  {
    margin: 0 15px;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}
.left p {
    margin: 10px;
    text-align: center ;
}
.logo {
    border: 2px solid black;
    font-size: 20px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

input {
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    width: 150px;
    height: 25px;
    background-color: antiquewhite;

}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.rectangle {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.right {
    padding-right: 40px;
}

.right li {
    margin: 0 10px;
}

#flat {
    background: url("background-co-do-sao-vang-3.jpg") center center;
    background-size: cover;
}

img {
    width: 100px;
    height: 100px;

}

.stars {
    background-color: antiquewhite;
    padding: 10px;
    margin: 0 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.avatar {
    position: relative;
    height: 210px;
}

.avatar-T img{
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 13%;
}
h2 {
    margin-left: 19%;
    display: inline;
    
}

.text {
    display:inline;
    position: relative;
    top: 25px;
    left: -70px;
}
.text-left {
    margin-top: 5px;
    margin-left: 75%;
}

.button-T {
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 75%;
    width: 220px;
    height: 25px;
    margin-top: 0px;

}

hr {
    color: black;
}
button {
    background-color: antiquewhite;
}
h3 {
    display: inline-block;
    margin: 5px;
    padding:  15px 10px;


}
footer {
    display: flex;
}
.h3-left {
    margin-left: 10%;
    display: inline-block;
}

footer .h3-left h3:first-child {
    color: aqua;
}

.footer-like {
    color: aqua;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

.footer-vv {
    width: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.footer-left {
    margin: 10px 0 0 870px;
}
